*{
    margin: 0;
    padding: 0;
}

/* making media query to set responsiveness to screen size */

/* Mobile device */
@media only screen and (max-width:600px) {
    .grid-container{
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width:768px) {
    .grid-container{
        justify-content: center;
    }
}

/* general settings for elements */
h1, h2, p, button{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    margin: 15px 0px;
    font-weight: bold;
}

h2{
    background-color: rgb(252, 220, 180);
    text-align: center;
}
p{
    color: #ddd;
}

body{
    background-color: purple;
    font-family: sans-serif;
}

button{
    background-color: yellow;
    color: black;
    margin: 4px;
    padding: 3px;
    justify-content: center;
    align-content: left;
}

footer{
    text-align: center;
    margin-top: 10px;
}



/* defined container attributes and styling */

/* hero image and constraints */
.hero-image{
    background-image: url(azeroth\ mountain\ scene.jpg);
    height: 150px;
    margin: 2px;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative; */
}

.hero-text{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black;
    transform: translate(0%,100%);

}




/* main page contents */
.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: purple;
    /* border: 1px solid #ddd;
    border-radius: 5px; */
    margin: 10px;
    padding: 10px;
        /* display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto auto;
        background-color: rgb(252, 220, 180);
        margin: 2px; */
    }
    
    .grid-item{
        flex: 1;
        background-color: rgb(34, 0, 128);
        border: 1px solid #ddd;
        color: white;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        font-size: 15px;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        background-color:aliceblue;
        border: 1px solid;
        border-color: rgb(34, 0, 128);
        margin: 3px;
        padding: 20px;
        font-size: 15px;
        text-align:right; */
        
    }

    /* housing for dice to add inputs and displays below each dice */
.dice-Container{
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid white;

}


    .grid-itemDice{
        flex: 1;
        /* background-color: rgb(252, 220, 180); *Preserved incase the purple does not work  */
        background-color: purple;
        color: white;
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        font-size: 15px;
        text-align: center;
        /* display: flex;
        flex-direction: column;
        background-color:aliceblue;
        border: 1px solid;
        border-color: rgb(34, 0, 128);
        margin: 3px;
        padding: 20px;
        font-size: 15px;
        text-align:right; */
        
    }

    .clicky{
        display: flex;
        align-items: center;
    }

.boxTitle{
    text-align: center;
    font-size: large;
}

.sub{
    font-size: smaller;
    font-style: italic;
}

/* Get the dice text to be horizontal */
.dice{
    background-color: rgb(34, 0, 128);
    color: white;
    font-size: larger;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    transform: rotate(45deg);
    margin: 4px;
    padding: 25px;
    justify-content: center;
    align-content: left; 
    text-align: center;     
}
.dice-span{
    display: inline-block;
    transform: rotate(-45deg);
}