*{
    margin: 0;
    padding: 0;
}

/* making media query to set responsiveness to screen size */

/* Mobile device */
@media only screen and (max-width:600px) {
    .grid-container{
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width:768px) {
    .grid-container{
        
        justify-content: center;
    }
}

h1{
    text-align: center;
    margin: 5px;
}

h2{
    text-align: center;
}

button{
    background-color: yellow;
    margin: 4px;
    padding: 3px;
    justify-content: center;
    align-content: left;
}

footer{
    text-align: center;
    margin-top: 10px;
}

/* .main{
    background-color: rgb(252, 220, 180);
    margin: 15px;
} */
    /* TODO Adjust the content sizing to adjust to screen size while justified centre */
.grid-container{
        display: flex;
        /* justify-content: center; */
        grid-template-columns: auto auto auto auto;
        background-color: rgb(252, 220, 180);
        margin: 2px;
    }
    
    .grid-item{
        display: flex;
        flex-direction: column;
        background-color:aliceblue;
        border: 1px solid;
        border-color: rgb(34, 0, 128);
        margin: 3px;
        padding: 20px;
        font-size: 15px;
        text-align:right;
        
    }

    .clicky{
        display: flex;
        align-items: center;
    }

.boxTitle{
    text-align: center;
    font-size: large;
}

.sub{
    font-size: smaller;
    font-style: italic;
}

.dice{
    background-color: darkblue;
    color: white;
    font-size: larger;
    margin: 4px;
    padding: 5px;
    justify-content: center;
    align-content: left;    
}