*{
    margin: 0;
    padding: 0;
}
button{
    background-color: yellow;
    margin: 4px;
    padding: 3px;
    justify-content: center;
    align-content: left;
}

.main{
    background-color: bisque;
    margin: 15px;
}
    
.grid-container{
        display: flex;
        grid-template-columns: auto auto auto auto;
        background-color: bisque;
    }
    
    .grid-item{
        display: inline-block;
        background-color:aliceblue;
        border: 1px solid;
        border-color: purple;
        padding: 20px;
        font-size: 15px;
        text-align:right;
        
    }

    .clicky{
        display: flex;
        align-items: center;
    }

p{
    text-align: center;
    font-size: large;
}

.sub{
    font-size: smaller;
    font-style: italic;
}